@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "morris";

/* Sidebar */
#side-menu span {
  color: #a8a8a8;
  padding-left: 15px;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.sidebar ul li {
  margin-top: 10px;
}

.sidebar ul li a {
  color: #4a555b !important;
}

.sidebar ul li a .fa {
  color: #4a555b !important;
  font-size: 1.2em;
}

.sidebar ul li a:hover {
  color: #000 !important;
  background: none !important;
}

.sidebar ul li a:hover .fa {
  color: #000 !important;
  background: none !important;
}

.sidebar ul li a:focus {
  background: none !important;
}

.sidebar ul li a.active {
  color: #fff !important;
  background-color: #489bcd !important;
}

.sidebar ul li a.active .fa {
  color: #000 !important;
}

.sidebar ul li a.active:hover {
  //background-color: #8cc641 !important;
  color: #fff !important;
}

.sidebar .sidebar-back {
  background-color: #8cc641 !important;
}

.sidebar .sidebar-back a {
  color: #000 !important;
}

.sidebar .sidebar-back a .fa {
  color: #000 !important;
}

.sidebar .arrow {
  float: right;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
  #background-color: #111;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}

/* Navbar */

.navbar-default {
  background: none;
}

.navbar-brand {
  font-size: 1.5em;
  color: #fff !important;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar {
  background-color: #222222 !important;
  border: 0px solid transparent;
}

.navbar-header {
  background-color: #222222 !important;
  border: 0px solid transparent;
}

.navbar-static-top {
  border-width: 0px !important;
}

.navbar a:hover, .navbar a:visited, .navbar a:link, .navbar a:focus, .navbar a:active  {
  background: none !important;
}

.navbar a .fa {
  color: #969696  !important;
}

.navbar a:hover .fa {
  color: #fff !important;
}

.navbar-top-links {
  margin-right: 0;
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

ul.nav.navbar-top-links.navbar-left a {
  color: #969696;
}

ul.nav.navbar-top-links.navbar-left a:hover {
  color: #fff;
}

@media (min-width: $screen-sm-min) {
  ul.nav.navbar-top-links.navbar-left {
    margin-left: 120px;
  }
}

/* Others */

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 50px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

.dropdown-menu a:hover, .dropdown-menu a:hover .fa {
  color: #000 !important;
}

.leaficon {
  background: url('/assets/leaf.svg') no-repeat center;
  background-size: 100% auto;
  height: 18px;
  width: 18px;
  float: left;
  margin-right: 5px;
}

body {
  background-color: #f2f7fa;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 568px;
  color: #1d1d1d;
  background-color: #fff;
}

@media(min-width:768px) {
  #page-wrapper {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    position: inherit;
    margin: 0 0 0 250px;
    border-left: 1px solid #e0e4e7;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
  margin-left: 60px;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}

.login-panel {
  margin-top: 25%;
}

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background: 0 0;
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd";
  float: right;
  font-family: fontawesome;
}

table.dataTable thead .sorting:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50,50,50,.5);
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.show-grid [class^=col-] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  background-color: #eee!important;
}

.show-grid {
  margin: 15px 0;
}

.huge {
  font-size: 40px;
}

.panel-default > .panel-heading {
  background-color: #222 !important;
  color: #eee;
}

.panel-first {
  border-color: #00acac !important;
}

.panel-first > .panel-heading, .panel-first .panel-footer {
  background-color: #00acac !important;
  color: #fff;
  border-color: #00acac !important;
}

.panel-second {
  border-color: #348fe2;
}

.panel-second .panel-heading, .panel-second .panel-footer {
  border-color: #348fe2;
  color: #fff;
  background-color: #348fe2;
}

.panel-third {
  border-color: #727cb6;
}

.panel-third .panel-heading, .panel-third .panel-footer {
  border-color: #727cb6;
  color: #fff;
  background-color: #727cb6;
}

.panel-fourth {
  border-color: #2d353c;
}

.panel-fourth .panel-heading, .panel-fourth .panel-footer {
  border-color: #2d353c;
  color: #fff;
  background-color: #2d353c;
}

.line-chart-panel, .donut-chart-panel {
  background-color: #fff;
}

.page-header {
  border-color: #e6e6e6;
  font-size: 1.8em;
  margin-top: 0px !important;
}

.btn-success {
  background-color: #8cc641 !important;
}

.btn-success:hover {
  background-color: #7cb039 !important;
}

.btn-primary {
  background-color: #fff !important;
  color: #aaa;
  border-color: #ddd;
}

.btn-primary:hover {
  background-color: #ddd !important;
  color: #000;
  border-color: #aaa;
}

table tr td {
  border-top: 1px solid #eee !important;
}

table tr th {
  border-bottom: 1px solid #eee !important;
}
